*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  
}
.main_container{
  width: 50vw;
  border: 1px solid black;
  height: 80vh;
 
}
.tab{
  width: 33.3%;
  padding: 1rem 1.5rem;
 background-color: black;
 color: white;
  border: none;
 }

.content{
  height: 100%;
  padding: 1rem;
  display: none;
}

p{
  margin-top: 2rem;
}

.tab_active{
border: none;
outline: none;
}
.tab_active1,.content1{
  background-color: red;
}
.tab_active2,.content2{
  background-color: green;
}
.tab_active3,.content3{
  background-color: yellow;
}

.display_content{
  display: block;
}